*.md
/output
/input
*.pptx
*.xlsx
*.csv
.env
__pycache__/
dist/**
megaparse.egg-info/
*.pyc
build/*

!megaparse/tests/output_tests/MegaFake_report.md
megaparse/cdp/CDP_QUAL_CHART_01_CHARTE PRODUITS_2023.12.13.pdf
*.pkl