[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
mammoth = "*"
python-pptx = "*"
nest-asyncio = "*"
llama-parse = "*"
pdf2docx = "*"
unstructured = {extras = ["pdf"], version = "*"}
langchain = "*"
langchain-community = "*"
llama-index = "*"
pytesseract = "*"
poppler-utils = "*"
markdownify = "*"
langchain-openai = "*"
langchain-core = "*"
uvloop = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.12"
