[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
mammoth = "*"
python-pptx = "*"
llama-parse = "*"
pdf2docx = "*"
unstructured = "*"
langchain = "*"
langchain-community = "*"
llama-index = "*"
pytesseract = "*"
poppler-utils = "*"
langchain-openai = "*"
langchain-core = "*"
python-dotenv = "*"
ollama = "*"

[dev-packages]
ipykernel = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.12"
